@charset "UTF-8";
.btn {
  border-radius: 25px;
  background: -webkit-linear-gradient(bottom, #9356DC -11.44%, #FF79DA 123.97%);
  color: #f3f3f3;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  margin: auto;
}
.btn :hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

* {
  font-family: "Roboto", sans-serif;
}

.title_h2 {
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 26px;
}

@media (max-width: 767.98px) {
  footer {
    background-color: #353535;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  footer p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
  footer .logo_blanc {
    color: white;
    font-family: "Shrikhand", serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  footer .icone_footer {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 11px;
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 767.98px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header .logo {
    font-family: "Shrikhand", serif;
    font-size: 30px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 13px;
  }
  header p {
    color: #353535;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
  }
  .location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #EAEAEA;
  }
  .location .location_icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .location .location_icon .fa-location-dot {
    width: 12px;
    height: 16px;
    margin-right: 17px;
    color: #353535;
  }
  /*section découvrez nos restaurants*/
  .section_discover {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
  }
  .section_discover h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    width: 275px;
    height: 68px;
    margin: auto;
    margin-top: 39px;
  }
  .section_discover p {
    color: #353535;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin: auto;
    margin-top: 0;
  }
  .section_discover .btn_discover {
    margin-top: 27px;
    margin-bottom: 57px;
  }
  /*section fonctionnement*/
  .section_about {
    padding-top: 48px;
    padding-bottom: 68px;
  }
  .section_about .about_step {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .section_about .about_step .about_step--rect {
    display: flex;
    flex-direction: row;
    margin-left: 32.5px;
    margin-right: 20px;
    gap: 23px;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  }
  .section_about .about_step .about_step--rect .number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f3f3f3;
    background-color: #9356DC;
    height: 24px;
    width: 24px;
    border-radius: 15px;
    margin-top: 25px;
    margin-left: -12.5px;
  }
  .section_about .about_step .about_step--rect p {
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 16px;
    font-weight: 500;
  }
  .section_about .about_step .about_step--rect .fa-solid {
    color: #7E7E7E;
  }
  .section_about .about_step .about_step--rect .fa-solid.fa-store {
    color: #9356DC;
  }
  .section_about .about_step .about_step--rect .number_icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /*section restaurant*/
  .section_restaurant {
    background: #f6f6f6;
    padding-top: 54px;
    padding-bottom: 66px;
  }
  .section_restaurant .card_restaurant {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .section_restaurant .card_restaurant .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border-radius: 15px;
    width: 340px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .section_restaurant .card_restaurant .card .img_restaurant--accueil {
    max-height: 231px;
    max-width: 340px;
    border-radius: 15px 15px 0px 0px;
  }
  .section_restaurant .card_restaurant .card .text_img--nouveau {
    color: #008766;
    font-weight: 500;
    border-radius: 2px;
    background-color: #99E2D0;
    width: 80px;
    height: 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    margin-top: -160px;
    margin-left: 251px;
  }
  .section_restaurant .card_restaurant .card .card_content {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0px 0px 15px 15px;
  }
  .section_restaurant .card_restaurant .card .card_content .card_text {
    margin-left: 14px;
  }
  .section_restaurant .card_restaurant .card .card_content .card_text .title_h3 {
    padding: 0;
    margin-top: 16px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
  }
  .section_restaurant .card_restaurant .card .card_content .card_text .subtitle_card {
    margin-top: 0px;
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 17px;
  }
  .section_restaurant .card_restaurant .card .card_content .card_heart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25px;
  }
  /*footer*/
  footer {
    background-color: #353535;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  footer p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
  footer .logo_blanc {
    color: white;
    font-family: "Shrikhand", serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  footer .icone_footer {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 11px;
    font-size: 16px;
    font-weight: 500;
  }
}

/*# sourceMappingURL=style.css.map */
