$main-color:#9356DC;
$pink:#FF79DA;
$dark-black:#101010;
$light-blue:#89C8FA;
$dark-blue:#003A68;
$light-green:#99E2D0;
$dark-green:#008766;
$light-grey:#EAEAEA;
$background-grey:#f6f6f6;
$medium-grey:#7E7E7E;
$dark-grey:#353535;
$white:#f3f3f3;
$black:#000000;
$light-white:#ffffff;

$body-font:'Roboto', sans-serif;
$logo-font:'Shrikhand', serif;
$logo-font-weight:400;
$logo-font-size-mobile:30px;
$title-h1-font:'Shrikhand', serif;
$title-h1-font-size:28px;
$title-h2-font-size:24px;
$title-h3-font-size:16px;


$font-weight-thin:300;
$font-weight-medium:500;
$font-weight-bold:700;



