

@media (max-width: 767.98px) {

    body{
     margin-left:0;
     margin-right:0;
    }
    
     header
    {
     display: flex;
     flex-direction: column;
     justify-content: center;
 
     & .logo
     {
         font-family: $logo-font;
         font-size: $logo-font-size-mobile;
         text-align: center;
         padding-top:14px;
         padding-bottom:13px;
     }
 

 
         & p{
             color:$dark-grey;
             font-size:16px;
             font-weight:500;
             margin-top:15px;
         }
     }
 
     .location
     {
         display: flex;
         flex-direction: row;
         justify-content: center;
         background-color: $light-grey;
 
         & .location_icon
         {
             display: flex;
             flex-direction: column;
             justify-content: center;
         
             & .fa-location-dot
             {
                 width:12px;
                 height:16px;
                 margin-right:17px;
                 color:$dark-grey;
             }
         
         }
 
    }
   
     
 
     /*section découvrez nos restaurants*/

 
     
     .section_discover{
         display: flex;
         flex-direction: column;
         background-color:$background-grey;
 
         & h1{
             font-size: 24px;
             font-weight:700;
             text-align: center;
             width:275px;
             height:68px;
             margin:auto;
             margin-top:39px;
         }
 
         & p{
 
             color:$dark-grey;
             font-size:18px;
             font-weight:300;
             text-align:center;
             margin:auto;
             margin-top:0;
         }
 
         & .btn_discover{
             margin-top:27px;
             margin-bottom:57px;
         }
 
         
 
     }
 
     /*section fonctionnement*/
 
     .section_about
     {
         padding-top:48px;
         padding-bottom:68px;
 
 
         & .about_step
         {
             display: flex;
             flex-direction: column;
             gap:24px;
         
             & .about_step--rect
             {
                 display: flex;
                 flex-direction: row;
                 margin-left:32.5px;
                 margin-right:20px;
                 gap:23px;
                 background-color:$background-grey;
                 border-radius:20px;
                 @include shadowRect;
 
                 & .number
                 {
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     align-items: center;
                     color:$white;
                     background-color:$main-color;
                     height: 24px;
                     width:24px;
                     border-radius: 15px;
                     margin-top: 25px;
                 margin-left: -12.5px;
                     
                 }
 
                 & p{
                     margin-top:28px;
                     margin-bottom:28px;
                     font-size:16px;
                     font-weight:500;
                 }
 
                 & .fa-solid{
                     color:$medium-grey;
                 }
 
                 & .fa-solid.fa-store
                 {
                  color:$main-color;
                 }
 
                 & .number_icon
                 {
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                 }
             }
         }
 
     }
 
 
     /*section restaurant*/
     
     .section_restaurant{
         background: $background-grey;
         padding-top:54px;
         padding-bottom:66px;
 
 
         & .card_restaurant{
             display: flex;
             flex-direction: column;
             gap:18px;
     
             & .card {
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 margin: auto;
                 border-radius:15px;
                 width:340px;
                 @include shadowCard;
         
                 & .img_restaurant--accueil{
                     max-height:231px;
                     max-width:340px;
                     border-radius:15px 15px 0px 0px;
             
                 }
         
                 & .text_img--nouveau{
                     color:$dark-green;
                     font-weight:500;
                     border-radius:2px;
                     background-color:$light-green;
                     width:80px;
                     height:29px;
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     text-align: center;
                     position:absolute;
                     margin-top:-160px;
                     margin-left:251px;
                 }
         
                 & .card_content
                 {
                     background-color:white;
                     display: flex;
                     flex-direction: row;
                     justify-content: space-between;
                     border-radius: 0px 0px 15px 15px;
             
                     & .card_text
                     {
                         margin-left:14px;
                         
                         & .title_h3
                         {
                             padding:0;
                             margin-top:16px;
                             margin-bottom:5px;
                             font-size:18px;
                             font-weight:700;
                         }
             
                         & .subtitle_card{
                             margin-top:0px;
                             margin-bottom:12px;
                             font-weight:300;
                             font-size:17px;
                         }
                     
                     }
             
                     & .card_heart
                     {
                         display: flex;
                         flex-direction: column;
                         justify-content: center;
                         margin-right:25px;
                     }
                 }
             }
         }
     }
 
     
     
     
     /*footer*/
     footer{
         background-color: $dark-grey;
         padding-top:22px;
         padding-bottom: 22px;
         padding-left:25px;
         padding-right:25px;
         display:flex;
         flex-direction: column;
         gap:7px;
     
             & p{
             color:white;
             font-size:16px;
             font-weight:400;
             margin:0;
 
             }
 
             & .logo_blanc
             {
             color:white;
             font-family: $logo-font;
             font-size:18px;
             font-weight:400;
             margin-bottom:16px;
             }
 
             & .icone_footer{
             color:white;
             display: flex;
             flex-direction: row;
             gap:11px;
             font-size:16px;
             font-weight:500;
             }
     }
 }