body{
    margin:0;
   }
   
    .header_accueil
   {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .logo_mobile{
        display:none;
    }

    & .logo_desktop{
        display:block;
        width:200px;
        height:34px;
        margin:auto;
        padding-top:30px;
        padding-bottom:31px;
    }
    }

    /*section discover*/
   
    .location
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: $light-grey;

        & .location_icon
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
        
            & .fa-location-dot
            {
                width:12px;
                height:16px;
                margin-right:17px;
                color:$dark-grey;
            }
        
        }

        & p{
           color:$dark-grey;
           font-size:16px;
           font-weight:500;
           margin-top:15px;
       }

   }
  