

/*mobile*/

@media (max-width: 767.98px) {



    /*image header*/

.header_img{
    background-size: cover;
    background-repeat: no-repeat;
    height:275px;
}

.header_img_lapalette{
    background-image:url('../img/restaurants_menu/lapalettedugout.png');
}

.header_img_ledelice{
    background-image: url('../img/restaurants_menu/ledelicedessens.jpg');
}

/*section entrée*/

.section_menu
{
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;

    & .title_content
    
    {
        display: flex;
        flex-direction: row;
        padding-left:17px;
        padding-right:17px;
        padding-top:32px;
    
    }

    

    
}

.card_price {
   

    &:active .checkmark{
        transition: width 1s ease;
        width: 59px;
    }
}

/*section order*/

.section_order{
  
    margin-left:0px;
    margin-right:0px;

    .button_menu
    {
        margin-bottom:40px;
        width:186px;
        height:50px;

        & .btn.btn_order{
            display:block;
        }
    
    }
}



}
