
* {
    font-family: 'Roboto', sans-serif;
}

.title_h1_restaurant
{
    font-family: $title-h1-font;
    font-size:$title-h1-font-size;
    margin-bottom:0px;
}


.title_h3_restaurant
{
    font-size:$title-h3-font-size;
    font-weight:$font-weight-thin;
    margin-bottom:0;
}

.green_line{
    width:40px;
    height:3px;
    background-color: $light-green;
    margin-top:9px;
}

.title_h4{
    font-size:18px;
    font-weight:$font-weight-medium;
}

.subtitle_card_meal
{
    font-size:15px;
    font-weight:$font-weight-thin;
}

.card_price
{
    font-size:15px;
    font-weight: $font-weight-bold;
}